@model MyCatalog.Models.Product

@{
    ViewData["Title"] =Model.Name + "Details";
    var photoPath = "~/Images/" + Model.Image;
}

    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <div>
        <div class="col-md-2">

            <img class="img-responsive" src="@photoPath" asp-append-version="true" />

        </div>


        <div class="col-md-2>

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
         
            <dt></dt>
            <dd><a href="@Url.Action("AddToWishList", "WishList", new{ Id=Model.Id })" class="btn btn-danger">Add to Wish List</a></dd>
               
            </dl>
        </div>
    </div>


        <div>
            
            <a asp-action="Index">Back to List</a>
        </div>
        <div class="cold-md-12 clearfix" />