@model IEnumerable<MyCatalog.View_Model.WishListItemViewModel>

@{
    ViewData["Title"] = "My Wish List";
}

<h1>My Wish List</h1>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
      
@foreach (var item in Model) {
    var photoPath = "~/Images/" + item.Image;
        <tr>

            <td>
                <img class="img-thumbnail" style="max-width: 80%; height: auto; width: auto\9;" src="@photoPath" asp-append-version="true" />
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => "Iphone")
            </td>

            <td>
                @Html.HiddenFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quanity)
            </td>

            <td>
            </td>
            <td>
                <a href ="@Url.Action("RemoveFromWishList", "WishList", new { id=item.Id })" class="btn btn-danger">Delete</a>
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
}
    </tbody>
</table>
